---
import { css } from "@styled-system/css";
import { container } from "@styled-system/patterns";
import styles from "../../../styles/blogPostContent.module.scss";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import BlogPost from "../../../components/BlogPost";
import Footer from "../../../components/Footer";
import BlogPostSideMenu from "../../../components/BlogPostSideMenu";

import { headingToTocItems } from "../../../helpers/utils";

import { SITE_TITLE } from "../../../constants";

export const getStaticPaths = async () => {
  const allBlogPosts = await getCollection("blog");
  return allBlogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();

const title = `${post.data.title} | ${SITE_TITLE}`;
const description = post.data.description ?? remarkPluginFrontmatter.excerpt;
const ogpImageUrl = new URL(`/blog/${post.slug}/ogp.png`, Astro.url).href;

const header = css({
  marginY: "var(--spacing-12)",
  "& a": {
    fontWeight: "var(--fontWeight-bold)",
    textDecoration: "none",
    fontSize: "var(--fontSize-4)",
  },
});
const headerInner = container();

const blogPost = css(container.raw(), {
  display: "flex",
  justifyContent: "space-between",
});

const blogPostLeft = css({
  width: {
    base: "full",
    md: "[calc(100% - var(--sizes-xs) - var(--sizes-4))]",
  },
});

const blogPostRight = css({
  width: "xs",
  mdDown: {
    display: "none",
  },
});
---

<BaseLayout
  title={title}
  description={description}
  faviconType="t28.dev"
  ogpImageUrl={ogpImageUrl}
>
  <header class={header}>
    <div class={headerInner}>
      <a href="/">{SITE_TITLE}</a>
    </div>
  </header>
  <div class={blogPost}>
    <div class={blogPostLeft}>
      <BlogPost
        title={post.data.title}
        date={post.data.date}
        category={post.data.category}
      >
        <div class={styles.blogPostContent}>
          <Content />
        </div>
      </BlogPost>
    </div>
    <div class={blogPostRight}>
      <BlogPostSideMenu client:visible tocItems={headingToTocItems(headings)} />
    </div>
  </div>
</BaseLayout>
<Footer />
