---
import { css } from "../../../../styled-system/css";
import { container } from "../../../../styled-system/patterns";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import BlogPost from "../../../components/BlogPost";
import BlogPostContent from "../../../components/BlogPostContent";
import Footer from "../../../components/Footer";
import Toc from "../../../components/Toc";

import { headingToTocItems } from "../../../helpers/utils";

import { SITE_TITLE } from "../../../constants";

export const getStaticPaths = async () => {
  const allBlogPosts = await getCollection("blog");
  return allBlogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await post.render();

const title = `${post.data.title} | ${SITE_TITLE}`;
const description = post.data.description ?? remarkPluginFrontmatter.excerpt;
const ogpImageUrl = new URL(`/blog/${post.slug}/ogp.png`, Astro.url).href;

const header = css({
  marginY: "var(--spacing-12)",
  "& a": {
    fontWeight: "var(--fontWeight-bold)",
    textDecoration: "none",
    fontSize: "var(--fontSize-4)",
  },
});
const headerInner = container();

const blogPost = css(container.raw(), {
  display: "flex",
  justifyContent: "space-between",
});

const blogPostLeft = css({
  width: {
    base: "full",
    md: "[calc(100% - 250px - 30px)]", // TODO use token
  },
});

const blogPostRight = css({
  width: `[250px]`, // TODO use token

  mdDown: {
    display: "none",
  },
});

const sideMenu = css({
  position: "sticky",
  top: "[20px]", // TODO use token
  padding: "var(--spacing-3)",
  overflow: "auto",
  borderWidth: "1px",
  borderStyle: "solid",
  borderColor: "[#dfdfdf]", // TODO use token
  borderRadius: "[10px]", // TODO use token
  boxShadow: "[0 2px 4px rgb(67 133 187 / 7%)]", // TODO use token
  backgroundColor: "var(--color-post-background)",
});
---

<BaseLayout
  title={title}
  description={description}
  faviconType="t28.dev"
  ogpImageUrl={ogpImageUrl}
>
  <header class={header}>
    <div class={headerInner}>
      <a href="/">{SITE_TITLE}</a>
    </div>
  </header>
  <div class={blogPost}>
    <div class={blogPostLeft}>
      <BlogPost
        title={post.data.title}
        date={post.data.date}
        category={post.data.category}
      >
        <BlogPostContent>
          <Content />
        </BlogPostContent>
      </BlogPost>
    </div>
    <div class={blogPostRight}>
      <aside class={sideMenu}>
        <div>目次</div>
        <Toc client:visible items={headingToTocItems(headings)} />
      </aside>
    </div>
  </div>
</BaseLayout>
<Footer />
