---
import { css } from "@styled-system/css";
import { Container } from "@styled-system/jsx";

import { getCollection, getEntry, type CollectionEntry } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList";
import Bio from "../components/Bio";
import Footer from "../components/Footer";

import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";

const allBlogPosts = await getCollection("blog");

const getDescription = async (
  post: CollectionEntry<"blog">,
): Promise<string> => {
  if (post.data.description) {
    return post.data.description;
  }
  const entry = await getEntry("blog", post.slug);
  const { remarkPluginFrontmatter } = await entry.render();
  return remarkPluginFrontmatter.excerpt;
};

const posts = await Promise.all(
  allBlogPosts
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .map(async (post) => ({
      url: `/blog/${post.slug}/`,
      title: post.data.title,
      description: await getDescription(post),
      date: post.data.date,
      category: post.data.category,
    })),
);
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
>
  <header class={css({ marginY: "12" })}>
    <Container>
      <h1
        class={css({
          color: "var(--color-primary)",
          fontSize: "var(--fontSize-7)",
          margin: "0",
        })}
      >
        <a href="/">{SITE_TITLE}</a>
      </h1>
    </Container>
  </header>
  <Container>
    <Bio />
  </Container>
  <Container>
    <BlogList posts={posts} />
  </Container>
  <Footer />
</BaseLayout>
