---
import { css } from "../../styled-system/css";
import { container } from "../../styled-system/patterns";

import { getCollection, getEntry, type CollectionEntry } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList";
import Bio from "../components/Bio";
import Footer from "../components/Footer";

import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";

const allBlogPosts = await getCollection("blog");

const getDescription = async (
  post: CollectionEntry<"blog">,
): Promise<string> => {
  if (post.data.description) {
    return post.data.description;
  }
  const entry = await getEntry("blog", post.slug);
  const { remarkPluginFrontmatter } = await entry.render();
  return remarkPluginFrontmatter.excerpt;
};

const posts = await Promise.all(
  allBlogPosts
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .map(async (post) => ({
      url: `/blog/${post.slug}/`,
      title: post.data.title,
      description: await getDescription(post),
      date: post.data.date,
      category: post.data.category,
    })),
);

const header = css({
  margin: "var(--spacing-12) 0",
  "& h1": {
    color: "var(--color-primary)",
    fontSize: "var(--fontSize-7)",
    margin: 0,
  },
});
const headerInner = container({});
const bioSection = container({});
const listSection = container({});
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
>
  <header class={header}>
    <div class={headerInner}>
      <h1><a href="/">{SITE_TITLE}</a></h1>
    </div>
  </header>
  <section class={bioSection}>
    <Bio />
  </section>
  <section class={listSection}>
    <BlogList posts={posts} />
  </section>
  <Footer />
</BaseLayout>
