---
import {
  getCollection,
  getEntry,
  type CollectionEntry,
  render,
} from "astro:content";
import type { Graph, Thing } from "schema-dts";

import BaseLayout, {
  type Props as BaseLayoutProps,
} from "../layouts/BaseLayout.astro";
import BlogList from "../components/BlogList";
import Bio from "../components/Bio";
import Footer from "../components/Footer";
import Container from "../components/Container";

import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import profilePic from "../assets/images/profile-pic.jpg";
import {
  personJsonLd,
  t28DevWebSiteJsonLd,
  tatsuyaPersonJsonLd,
  webSiteJsonLd,
} from "../helpers/structuredData.ts";

const getDescription = async (
  post: CollectionEntry<"blog">,
): Promise<string> => {
  if (post.data.description) {
    return post.data.description;
  }
  const entry = await getEntry(post.collection, post.id);
  if (!entry) {
    throw new Error(`Entry not found: ${post.collection}/${post.id}`);
  }
  const { remarkPluginFrontmatter } = await render(entry);
  return remarkPluginFrontmatter?.excerpt;
};

const blogCollection = await getCollection("blog");

const blogPosts = await Promise.all(
  blogCollection.map(async (post) => ({
    url: `/${post.collection}/${post.id}`,
    title: post.data.title,
    description: await getDescription(post),
    publishedDate: post.data.date,
    modifiedDate: post.data.modified,
    category: post.data.category,
  })),
);

const sortedPosts = [...blogPosts].sort(
  (a, b) => b.publishedDate.valueOf() - a.publishedDate.valueOf(),
);

const allDates = blogPosts.flatMap((post) =>
  post.modifiedDate
    ? [post.publishedDate, post.modifiedDate]
    : [post.publishedDate],
);
const newestDate = allDates.reduce((newest, current) =>
  newest.getTime() < current.getTime() ? current : newest,
);
const oldestDate = allDates.reduce((oldest, current) =>
  current.getTime() < oldest.getTime() ? current : oldest,
);

const structuredData = {
  "@context": "https://schema.org",
  "@graph": [
    tatsuyaPersonJsonLd,
    {
      "@type": "WebSite",
      "@id": "https://t28.dev/#website",
      // Google required properties
      // https://developers.google.com/search/docs/appearance/site-names?hl=ja#website
      name: SITE_TITLE,
      url: "https://t28.dev/",
      // Google recommended properties
      // https://developers.google.com/search/docs/appearance/site-names?hl=ja#website
      // "alternateName": [],
      // other properties
      publisher: {
        "@id": tatsuyaPersonJsonLd["@id"],
      },
      description: SITE_DESCRIPTION,
    },
    {
      "@type": "CollectionPage",
      "@id": "https://t28.dev/#collectionpage",
      name: SITE_TITLE,
      url: "https://t28.dev/",
      publisher: {
        "@id": tatsuyaPersonJsonLd["@id"],
      },
      datePublished: oldestDate.toISOString(),
      dateModified: newestDate.toISOString(),
      mainEntity: {
        "@type": "ItemList",
        // Google required properties
        // https://developers.google.com/search/docs/appearance/structured-data/recipe?hl=ja#item-list
        itemListElement: sortedPosts.map(
          ({ title, publishedDate, modifiedDate, url }, index) => ({
            "@type": "ListItem",
            // required
            position: index + 1,
            url: `https://t28.dev${url}`,
            // others
            item: {
              "@type": "BlogPosting",
              url: `https://t28.dev${url}`,
              headline: title,
              datePublished: publishedDate.toISOString(),
              ...(modifiedDate && { dateModified: modifiedDate.toISOString() }),
            },
          }),
        ),
      },
    },
  ],
} satisfies Graph;
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
  structuredData={structuredData}
>
  <header class="my-12">
    <Container>
      <h1 class="m-0 text-(length:--fontSize-7) text-(--color-primary)">
        <a href="/">{SITE_TITLE}</a>
      </h1>
    </Container>
  </header>
  <Container>
    <Bio />
  </Container>
  <Container>
    <BlogList posts={sortedPosts} />
  </Container>
  <Footer />
</BaseLayout>
