---
import { css } from "@styled-system/css";
import { container } from "@styled-system/patterns";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import RoundupPost from "../../components/RoundupPost";
import Footer from "../../components/Footer";
import { SITE_TITLE } from "../../constants";

export const getStaticPaths = async () => {
  const allRoundups = await getCollection("roundup");
  return allRoundups.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"roundup">;
}

const { post } = Astro.props;
const { Content } = await post.render();

const title = `${post.data.title} | ${SITE_TITLE}`;
const description = post.data.description ?? /* WIP */ post.body.slice(0, 100);

const header = css({
  marginY: "var(--spacing-12)",
  "& a": {
    fontWeight: "bold",
    textDecoration: "none",
    fontSize: "var(--fontSize-4)",
  },
});
const headerInner = container({});
const roundupPostPage = container({});
---

<BaseLayout title={title} description={description} faviconType="t28.dev">
  <header class={header}>
    <div class={headerInner}>
      <a href="/">{SITE_TITLE}</a>
    </div>
  </header>
  <div class={roundupPostPage}>
    <RoundupPost title={post.data.title}>
      <Content />
    </RoundupPost>
  </div>
  <Footer />
</BaseLayout>
