---
import { css } from "@styled-system/css";
import { container } from "@styled-system/patterns";

import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import RoundupList from "../../components/RoundupList";
import Bio from "../../components/Bio";
import Footer from "../../components/Footer";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../constants";

const allRoundups = await getCollection("roundup");

const roundupPosts = allRoundups.map((post) => ({
  slug: `roundup/${post.slug}/`,
  title: post.data.title,
}));

const header = css({
  marginY: "var(--spacing-12)",
  "& h1": {
    fontSize: "var(--fontSize-7)",
    margin: "0",
  },
  "& a": {
    color: "var(--color-primary)",
  },
});
const headerInner = container();
const bioSection = container();
const listSection = container();
---

<BaseLayout
  title={`Roundup | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
>
  <header class={header}>
    <div class={headerInner}>
      <h1><a href="/static">{SITE_TITLE}</a></h1>
    </div>
  </header>
  <section class={bioSection}>
    <Bio />
  </section>
  <section class={listSection}>
    <RoundupList posts={roundupPosts} />
  </section>
  <Footer />
</BaseLayout>
