---
import { css } from "@styled-system/css";
import { Container } from "@styled-system/jsx";

import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import RoundupList from "../../components/RoundupList";
import Bio from "../../components/Bio";
import Footer from "../../components/Footer";

import { SITE_TITLE, SITE_DESCRIPTION } from "../../constants";

const allRoundups = await getCollection("roundup");

const roundupPosts = allRoundups.map((post) => ({
  slug: `roundup/${post.slug}/`,
  title: post.data.title,
}));
---

<BaseLayout
  title={`Roundup | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  faviconType="t28.dev"
>
  <styled.header marginY="12">
    <Container>
      <styled.h1
        color="var(--color-primary)"
        fontSize="var(--fontSize-7)"
        margin="0"
      >
        <a href="/">{SITE_TITLE}</a>
      </styled.h1>
    </Container>
  </styled.header>
  <Container>
    <Bio />
  </Container>
  <Container>
    <RoundupList posts={roundupPosts} />
  </Container>
  <Footer />
</BaseLayout>
