---
import { css } from "../../../../styled-system/css";

import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import SWorksLogo from "../../../components/s-works/SWorksLogo";
import AchievementPost from "../../../components/s-works/AchievementPost";
import SWorksFooterSection from "../../../components/s-works/SWorksFooterSection";
import { SITE_TITLE_S_WORKS } from "../../../constants";

export const getStaticPaths = async () => {
  const allAchievementPosts = await getCollection("s-works-achievement");
  return allAchievementPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"s-works-achievement">;
}

const { post } = Astro.props;
const { Content } = await post.render();

const description = post.data.description ?? /* WIP */ post.body.slice(0, 100);

const root = css({
  padding: "0 var(--spacing-3)",
  border: "solid 15px var(--color-orange)",
  minHeight: "100%",
  "& .header": {
    margin: "var(--spacing-8) auto",
    maxWidth: "600px",
  },

  "& .article": {
    margin: "0 auto",
    maxWidth: "600px",
  },
});

const header = css({
  margin: "var(--spacing-8) auto",
  maxWidth: "600px",
});

const article = css({
  margin: "0 auto",
  maxWidth: "600px",
});
---

<BaseLayout
  title={`${post.data.title} | ${SITE_TITLE_S_WORKS}`}
  description={description}
  faviconType="s-works"
>
  <div class={root}>
    <header class={header}>
      <a href="/s-works">
        <SWorksLogo />
      </a>
    </header>

    <article class={article}>
      <Image src={post.data.heroImage} alt="" style="height: auto" />
      <AchievementPost
        title={post.data.title}
        date={post.data.date}
        links={post.data.links}
      >
        <Content />
      </AchievementPost>
    </article>

    <SWorksFooterSection />
  </div>
</BaseLayout>

<style>
  :root {
    --colors-white: #ffffff;
    --color-orange: #ffc69e;
  }

  body {
    background-color: var(--colors-white) !important;
  }
</style>
