---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import SWorksLogo from "../../../components/s-works/SWorksLogo";
import AchievementPost from "../../../components/s-works/AchievementPost";
import SWorksFooterSection from "../../../components/s-works/SWorksFooterSection";
import { SITE_TITLE_S_WORKS } from "../../../constants";

export const getStaticPaths = async () => {
  const allAchievementPosts = await getCollection("s-works-achievement");
  return allAchievementPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

interface Props {
  post: CollectionEntry<"s-works-achievement">;
}

const { post } = Astro.props;
const { Content } = await post.render();

const description = post.data.description ?? /* WIP */ post.body.slice(0, 100);
---

<BaseLayout
  title={`${post.data.title} | ${SITE_TITLE_S_WORKS}`}
  description={description}
  faviconType="s-works"
>
  <div class="min-h-full border-15 border-(--color-s-works) px-3">
    <header class="mx-auto my-8 max-w-2xl">
      <a href="/s-works">
        <SWorksLogo
          style={{
            display: "inline",
            verticalAlign: "initial",
          }}
        />
      </a>
    </header>

    <article class="mx-auto max-w-2xl">
      <Image src={post.data.heroImage} alt="" style="height: auto" />
      <AchievementPost
        title={post.data.title}
        date={post.data.date}
        links={post.data.links}
      >
        <Content />
      </AchievementPost>
    </article>

    <SWorksFooterSection />
  </div>
</BaseLayout>

<style>
  body {
    background-color: var(--colors-white) !important;
  }
</style>
